# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=Wake up, boy! Denis' huge dick is hard and hungry! Prepare your butthole!
    S:OnSleepText=is now getting naughty...
    S:OnWakeText=has rested enough.
    I:SleeperPerc=1
}


